<h1 class="vytext">Kontakt</h1>
<br />
<form [formGroup]="skjema">
    <mat-form-field>
    <label>
      Navn:
      <input matInput type="text" formControlName="name" required minlength="2" pattern="[a-åA-Å]*" />
    </label>
    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
      <div *ngIf="name.errors.required">
        Du må skrive inn et navn.
      </div>
      <div *ngIf="name.errors.minlength">
        Navnet må ha minst to bokstaver.
      </div>
      <div *ngIf="name.errors.pattern">
        Navn kan ikke inneholde tall eller spesialtegn.
      </div>
    </div>
  </mat-form-field>
  <mat-form-field>
    <label>
      E-post
        <input matInput type="text" formControlName="email" required email>
    </label>
    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
      <div *ngIf="email.errors.required">
        Du må skrive inn en epost adresse
      </div>
      <div *ngIf="email.errors.email">
        Denne adressen er ikke gyldig.
      </div>
    </div>
  </mat-form-field>
  <br />
  <mat-form-field>
    <label>
      Tittel:
      <input matInput type="text" formControlName="title" minlength="2" maxlength="20" required pattern="[a-åA-Å0-9 !.]*">
    </label>
    <div *ngIf="title.invalid && (title.dirty || title.touched)" class="alert alert-danger">
      <div *ngIf="title.errors.required">
        Innlegget må ha en tittel
      </div>
      <div *ngIf="title.errors.pattern">
        Tittelen kan kun inneholde tall og bokstaver
      </div>
    </div>
  </mat-form-field>
  <mat-form-field>
    <label>
      Kategori:
      <select matNativeControl formControlName="category" required>
        <option disabled="disabled" selected="selected">Velg kategori</option>
        <option value="0">Spørsmål</option>
        <option value="1">Tilbakemelding</option>
      </select>
    </label>
    <div *ngIf="category.invalid && (category.dirty || category.touched)" class="alert alert-danger">
      <div *ngIf="category.errors.required">
        Meldingen må ha en kategori
      </div>
    </div>
  </mat-form-field>
    <br />
  <mat-form-field>
    <label>
      Melding:
      <textarea matInput formControlName="body" required minlength="10"></textarea>
    </label>
    <div *ngIf="body.invalid && (body.dirty || body.touched)" class="alert alert-danger">
      <div *ngIf="body.errors.required">
        Du må skrive en melding til oss
      </div>
      <div *ngIf="body.errors.minlength">
        Meldingen må ha minst 10 tegn
      </div>
    </div>
  </mat-form-field>

    <br />
  <button mat-raised-button (click)="openDialog()" [disabled]="!skjema.valid" >Send</button>
</form>
<br />
